.c3 {
  .c3-ygrid-lines {
    .p2p-max line,
    .cdn-max line {
      stroke-dasharray: 3,3;
    }

    .p2p-max line {
      stroke: $light-blue;
    }

    .cdn-max line {
      stroke: $berry;
    }
  }

  .c3-subchart {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    -webkit-box-shadow: 1px 4px 4px 3px $light-grey;
    box-shadow: 1px 4px 4px 3px $light-grey;
    -moz-box-shadow: 1px 4px 4px 3px $light-grey;
    background-color: $light-grey;

    .resize path {
      stroke: $light-grey;
      fill: #fff;
    }
  }

  .c3-tooltip-container {
    width: 240px !important;

    .c3-tooltip-popup {
      padding: $padding;
      font-size: 12px;

      h4 {
        margin-bottom: $padding * 1.5;
      }

      p {
        margin-bottom: $padding * 0.5;

        &.tooltip-cdn,
        &.tooltip-p2p,
        &.tooltip-viewers {
          text-transform: uppercase;
        }

        &.tooltip-cdn span {
          color: $berry;

          &.tooltip-mark {
            background-color: $berry;
          }
        }

        &.tooltip-p2p span {
          color: $light-blue;

          &.tooltip-mark {
            background-color: $light-blue;
          }
        }

        &.tooltip-viewers span {
          color: $deep-orange;

          &.tooltip-mark {
            background-color: $deep-orange;
          }
        }

        &.tooltip-sum span {
          color: $green;
        }

        &.tooltip-sprike span {
          color: $light-blue;
        }

        span {
          text-transform: capitalize;
        }

        .tooltip-mark {
          display: inline-block;
          width: 6px;
          height: 6px;
          margin-right: $padding;
          border-radius: 3px;
        }
      }
    }
  }

  .c3-chart-lines .c3-shapes.c3-areas path {
    opacity: 0.5 !important;
  }

  .c3-side {
    fill: #fff;
    fill-opacity: .8;
  }

  .c3-axis path {
    stroke: $light-grey;
  }

  .tick {
    fill: $light-grey;

    line {
      stroke: $light-grey;
    }
  }
}

#viewersChart {
  margin-left: 10px;
}