html,
body {
  width: 100%;
  height: auto;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-size: $font-size;
  line-height: $line-height; 
  letter-spacing: 0.3px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4 { font-size: $font-size; }

p {
  margin-bottom: $padding;
}

hr {
  margin: ($padding * 2) 0;
}

.navbar {
  margin-bottom: 20px;
}

.form-group label {
  text-transform: uppercase;
}

.form-control {
  font-weight: 300;
}

// ng-animate

.ngfade.ng-enter {
  transition:0.2s linear all;
  opacity:0;
}

.ngfade.ng-enter.ng-enter-active {
  opacity:1;
}

.ngfade.ng-leave {
  transition:0.2s linear all;
  opacity:1;
}
.ngfade.ng-leave.ng-leave-active {
  opacity:0;
}