// General
$background-color: #fff;
$font-size: 12px;
$line-height: 1.666666;

$padding: 6px;

// Colors

$light-blue: #4FBCF2;
$dark-blue: #3AA0D3;
$berry: #B2125C;
$grey-black: #324147;
$deep-orange: #E65F00;
$purple: #3AA0D3;
$green: #458741;
$light-grey: #747C93;
$grey: #868686;
$pale-grey: #ECF2F6;
